extends layout

block content
  script(type="text/javascript").
    function vv() {
      location.href = '/artical/edit'; 
    }
  include nav.jade
  div.Row#content-div
    div.col-lg-9
      div.page-header
        h3 日志列表
      ul(class="media-list")
        each page in pageList
          li.media
            div.media-left
              -var time = page.createTime
              -var year = time.split('-')[0] + '年'
              -var mouth = time.split('-')[1] + '月'
              -var day = time.split('-')[2] + '日'
              -var newData = mouth + '' + day
              div(style="width: 56px")
                div.page-list--createTime #{newData}
                div.page-list--createTime2 #{year}
            div.media-body
              div
                span.page-list-title
                  a.page-list-a #{page.title}
              div
                span.page-list-description #{page.description}
      div
        div.col-lg-2.col-lg-offset-9
        button(class="btn btn-warning" onclick="vv()") 新增
    div.col-lg-3
      div(style="margin-top: 44px;")
        h3 关于作者
        div(style="margin-left: 1%; margin-top: 14px")
          div.introduce-div
            span(style="margin-left: 16px") Vic Zhang
          div.introduce-div
            span(style="margin-left: 16px") 江苏省 南京市
          div.introduce-div
            span
              img(src="../images/githup-pat.png" style="width: 32px")
            span(style="margin-left: 16px")
              a(href="https://github.com/VicEcho"  target="_Blank" style="color: blue") https://github.com/VicEcho
  include footer.jade