extends layout

block content
  include nav.jade
  div.Row#content-div
    div.col-lg-9
      h3 #{page.title}
      div(style="border-right: 1px solid grey; min-height: 600px")
        div.artical-detail-descritpion
            span(class="glyphicon glyphicon-calendar" style="color: cornflowerblue")
            span &nbsp; #{page.createTime}
            span(style='margin-left: 10px') /
            span(class="glyphicon glyphicon-bookmark" style='margin-left: 10px; color: coral')
            span &nbsp; #{page.description}
        div#artical-detail-content
            p !{page.content}
    include introduce.jade
  include footer.jade