extends layout

block content
  include nav.jade
  div.page-header
   h3 编辑页面
  form.form-horizontal
    div.form-group
      label(for="title", class="col-sm-1 control-label") 标题
      div(class="col-sm-6")
        if pageDetail
          input(type="text", class="form-control", id="title", name="title" placeholder="请输入标题" value=`${pageDetail.title}`)
        else
          input(type="text", class="form-control", id="title", name="title" placeholder="请输入标题")
    div.form-group
      label(for="description", class="col-sm-1 control-label") 描述
      div(class="col-sm-6")
        if pageDetail
          input(type="text", class="form-control", id="description", name="description" placeholder="请输入描述"  value=`${pageDetail.description}`)
        else
          input(type="text", class="form-control", id="description", name="description" placeholder="请输入描述")
    div.form-group
      label(for="content", class="col-sm-1 control-label") 内容
      div(class="col-sm-6")
        div(id="edit-operate" class="toolbar")
        div(style="margin-top: 5px")
        div(id="editor" class="text" style="max-width:100%; height: 500px")
    if pageDetail
     input(id="artical-content" style="display: none" value=`${pageDetail.content}`)
    else
      input(id="artical-content" style="display: none" value=`请输入内容`)
  style(type="text/css").
    .toolbar {
        border: 1px solid #ccc;
     }
    .text {
        border: 1px solid #ccc
    }
  script(type="text/javascript").
    (() => {
        var E = window.wangEditor;
        editor = new E('#edit-operate', '#editor');
        editor.customConfig.uploadImgServer = '/artical/upload';
        editor.customConfig.uploadFileName = 'file'
        editor.create();
        const articalContent = $('#artical-content').val();
        editor.txt.html(articalContent);
    })();
  script(type="text/javascript").
      "use strict"
      function getContent() {
        const title = $("#title").val();
        const description = $("#description").val();
        const content = window.editor.txt.html();
        const params = {
            title: title,
            description: description,
            content: content
          }
        const headers = {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        };
        fetch('/artical/edit', {
          method: 'POST',
          credentials: 'include',
          headers: headers,
          body: JSON.stringify(params)
        }).then((response) => {
          const { statusText, status } = response;
          return response.json().then(res => {
            return {
              data: res,
              statusCode: status,
              message: statusText,
              success: true
            }
          })
        }).then((res) => {
          location.href = '/artical/list';
          return res
        }).catch(err => {
          alert('操作失败，服务器异常')
        });
      }
  div(class="col-sm-7")
    button(class="btn btn-info", id="edit-submit-button" onClick="getContent()") 发表日志
   include footer.jade