//- var title2 = '首页'
extends layout

block content
  include nav.jade
  div(class="container" id="middle-container")
    div.jumbotron
      h2 欢迎来到Vic的个人微博
      p  供个人练习和编写文档
      div(class="button-div")
        if !userName
          button(type="button" class="btn btn-primary")
            a(class="brand-button-a" href="/login") 登陆
          button(type="button" class="btn btn-default")
            a(class="brand-button-a-default" href="/reg") 立即注册
  div(class=".row" id="description-content")
    div(class="col-lg-4")
      div(class="col-lg-10 col-lg-offset-1")
        h3 2017年尾巴小目标:
        p 运用Jade、Node.js、Bootstrap、MongoDB搭建一个个人微博，记录学习文档
        p 把小肚子减掉，恢复四块腹肌
        p 读完白岩松的《一个人的时代》和《三体 地球往事》
    div(class="col-lg-4")
      div(class="col-lg-10 col-lg-offset-1")
        h3 展望2018上半年:
        p  西风满载灰尘，吹起了蕾丝窗帘，（窗帘上的）针织小鸟展翅飞舞
    div(class="col-lg-4")
      div(class="col-lg-10 col-lg-offset-1")
        h3 你的未来:
        p 保持独立思考、积累知识和解决问题的能力 
        p 依然能写美好的诗和文章，也能写出更好的代码
        p 热爱家庭，保持健康，也能创造财富
  include footer.jade
      
     