- var title2 = '22'
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.2.1.js')
    script(src='/javascripts/bootstrap.js')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block content
