- var title2 = '22'
doctype html
html
  head
    title= title
    link(rel='icon', href='/images/favicon.jpeg')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/stylesheets/wangEditor.css')
    script(src='/javascripts/jquery-3.2.1.js')
    script(src='/javascripts/bootstrap.js')
    script(type="text/javascript" src="/javascripts/wangEditor.js")
    //- script(src='/javascripts/wangEditor.js')
    meta(name="viewport" content="width=device-width, initial-scale=1")    
  body.body
    block content
