body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: cursive;
}

a {
  color: rgb(32, 35, 36);
}

#vv li:hover{
  background-color: saddlebrown
}
#vv li a:hover{
  color: white;
}
#middle-container {
  margin-top: 20px;
  width: 100%
}
#middle-container .jumbotron{
  background-color: aliceblue
}
.jumbotron p {
  font-family: cursive;
}
.button-div button{
  margin-left: 10px
}
.brand-button-a {
  color: white;
}
.brand-button-a:hover {
  color: rgb(238, 168, 62);
  text-decoration: none
}
.brand-button-a-default:hover {
  color: rgb(22, 24, 170);
  text-decoration: none;
}
.brand-button-a-default {
  color: blacv;
}
#description-content {}
#description-content div {
  height: 240px;
}
#description-content div div {
  border-radius: 9px;
}
#description-content p {
  font-size: 16px;
  font-family: cursive;  
}

.page-list-ul {
  list-style: none
}
.page-list-ul li { 
  width: 90%;
  margin: 0 auto;
  min-height: 40px;
}
.page-list--createTime {
  color: lightcoral;
  font-size: 12px;
  font-weight: 600;
}
.page-list--createTime2 {
  color: lightcoral;
  font-size: 12px;
  font-weight: 600;
  text-align: right;
}
.page-list-title {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 800;
}
.page-list-description {
  margin-left: 1%;
  font-size: 12px;
  font-weight: 600;
}
.page-list-a {
  color:#04bfff;
  text-decoration: none;
}
.page-list-a:hover {
  color:#04bfff;  
  text-decoration: none;
  cursor: pointer;
}
/* .body {
  background-color: rgb(238, 168, 62)
} */
#content-div {
  overflow: hidden;
  padding-bottom: 20px;
}
#edit-submit-button {
  float: right
}
.introduce-div {
  margin-top: 16px;
  font-size: 16px;
}
.artical-detail-descritpion {
  
}